@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.container{
    border: 5px solid #F76E11;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
}
h1{
    text-align: center;
    margin: 10px 0 30px;
    color: #FFB72B;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 30px;
    margin-bottom: 20px;
    color: #FFB72B;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
h3{
    text-align: right;
    color: #FFB72B;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
hr{
    border-color: #FFB72B;
    opacity: 0.5;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.icon img{
    border: 2px solid #F76E11;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}
button{
    background: #F76E11;
    border: 2px solid #F76E11;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button.loading{
    opacity: 0.7;
    pointer-events: none;
}
button:hover{
    background: none;
    color: #F76E11;
    border: 2px solid #F76E11;
}

@media (max-width: 900px){
    body{
        padding: 40px;
    }
}
@media (max-width: 760px){
    .container{
        width: 90%;
    }
}
@media (max-width: 600px){
    body{
        font-size: 15px;
    }
    .container{
        padding: 10px;
        width: 100%;
    }
}
@media (max-width: 475px){
    h1{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    h3, button{
        font-size: 12px;
    }
}